
.cont{
  width: 100%;
}


.add_button{
  position: fixed;
  bottom: 70px;
  right: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 0px;
  border: none;
  background-color: transparent;
  transition: transform 0.4s; /* Додаємо плавну анімацію */
  &:hover {
    transform: scale(1.1); /* Збільшуємо карточку на 10% при наведенні */
    background-color: transparent;
}
}
.add_button__icons{
  width: 100%;
  height: 100%;
  color: black;
}

.not{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
}

.nottop{
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
  font-size: 24px;
}
.notbottom{
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
  font-size: 24px;
}

.top_group_input{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.top_input{
  flex: 1;
}

.top_ture{
  margin: 0 10px;
}

.bottom_group_input{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bottom_group_input_left{
  display: flex;
  flex-direction: column;
}

.bottom_group_input_right{
  display: flex;
  flex-direction: column;
}

.calendar_btn{
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
}